
<style>
    body {
        background: url('../../Content/img/giris.jpg');
        
        webkit-background-size: cover;
        moz-background-size: cover;
        o-background-size: cover;
        background-size: cover;
     
    }
</style>

@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<body>
    <div style="width: 100%">
        <div class="row">


            <div>
                <div class="row" style="margin-top:10%;">  
                    <center> <span id="logo"> <img src="/Content/img/logo.png" style="margin-left: -65%; width: 300px; height: 110px;  text-align: center" alt="Logo"> <img src="/Content/img/arsiv.png" style="margin-left: 95%;margin-top:-60%; width: 200px; height: 80px; text-align: center" alt="arsiv"></span><br /></center>
                   
                </div>
            </div>
        </div>
    </div>
</body>


<style>
     body { overflow-x: hidden !important; }
</style>
