
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Licence</title>
    lisansınız yoktur lütfen lisans almak için DORA BİLİŞİM ile irtibata geçiniz.
</head>
<body>
    <div> 
    </div>
</body>
</html>
